@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #116423;
  --color-secondary: #7cec26;
  --color-base-200:#f0b41a;
}

*{
    font-family: "Urbanist", sans-serif;
}
.active{
    color: #f0b41a;
    text-decoration: underline;
    font-weight: 500;
}
